---
// ❯ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ❯ @status OK!
// ❯ @path ./src/components/configCarrier.astro
// ❯ @desc Global configuration data carrier component.
// ❯ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ❯ IMPORTS
import { siteConfig } from "@/config";
---

<!-- ❯ RENDER -->
<div
    id="config-carrier"
    data-hue={siteConfig.themeColor.hue}
    data-lang={siteConfig.lang}
    data-theme={siteConfig.defaultTheme}
    data-wallpaper-mode={siteConfig.wallpaper.mode}
    data-translate-enabled={siteConfig.translate?.enable ? 'true' : 'false'}
>
</div>