---
// ❯ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ❯ @status OK!
// ❯ @path ./src/pages/admin-panel/index.astro
// ❯ @desc Admin panel page entry point.
// ❯ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ❯ IMPORTS
import "../../styles/main.css";
---

<!DOCTYPE html>
<html lang="tr" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - CybAlp</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>
<body>
    <!-- ❯ ADMIN PANEL CONTENT -->
</body>
</html>
